:root{
    --vermelho: #E50914;
    --preta: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none;
}

body{
    background-color: var(--preta);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 10px;
}

header nav a{
    text-decoration: none;
    color: rgb(194, 189, 189);
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

header .idioma{
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 10px 10px;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    transition: .5s ease all;
    border: 1px solid #fff;
    border-radius: 5px;
}

header .idioma option{
    font-size: 16px;
    background-color: silver;
    color: #000;
}



header .idioma select:active, select:hover{ 
    background-color: #1B517E;;
    cursor: pointer;
}


footer{
    margin-top: 20px;
    border-top: 10px solid rgb(24, 23, 23);
    padding: 100px 0 100px;
    border-bottom: 5px solid rgb(24, 23, 23);
    margin-bottom: 20px;
}

footer .container{
    margin-left: 20rem;
    margin-right: 20rem
}

footer .container h4{
margin-bottom: 30px;
color: rgb(143, 143, 142);
}

footer .container .links{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}

footer .container .links ul{
    margin: 0 10px 0 10px;
}

footer .container .links ul li a{
    color: rgb(94, 91, 91);
    font-size: 14px;
    display: block;
    margin-bottom: 15px;
}

footer .container .links ul li a:hover{
    color: rgb(168, 167, 167);
    text-decoration: underline;
}


.botoes-header .botao-entrar{
    background-color: red;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}


/* Filme pricipal */
.filme-principal{
    font-size: 16px;
    background:linear-gradient(rgb(0, 0, 0, .50), rgb(0, 0, 0, .50)100%), url("../img/house-cards.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 10px solid #666;
    margin-bottom: 20px;
}

.filme-principal .descricao {
    margin-bottom: 40px;
    margin-top: 10px;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size:  40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .botao{
    background-color: rgb(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .5s ease all;
}

.filme-principal .botao:hover{
    background-color: white;
    color: rgb(0, 0, 0);
}



.botao i {
    margin-right: 8px;
}

.container{
margin-left: 80px;
margin-right: 80px;
}

.filme-principal .container{
    width: 70%;
}



.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrousel-filmes{
    margin-top: 5px;
}

/* Assine */
.assine{
    margin-top: 20px;
    border-top: 10px solid rgb(24, 23, 23);
}
.assine .container{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
   
}
.assine .container .assine-bloco01{
    margin: auto;
}

.assine .container .assine-bloco01 h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.assine .container .assine-bloco01 p{
    font-size: 25px;
    line-height: 2rem;
}

/* Perguntas */
.perguntas{
    margin-top: 20px;
    border-top: 10px solid rgb(24, 23, 23);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.perguntas .container{
    flex-direction: row;
    align-items: center;
    justify-content:center;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
   
}

.perguntas .container .perguntas-bloco01 h1{
    font-size: 50px;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
}

.perguntas .container .email p{
    font-size: 18px;
    text-align: center;
    margin: 50px 0 20px;
}

.perguntas .container .perguntas-bloco01 .email input[type="email"]{
    font-size: 14px;
    padding: 24px 15px 24px 10px;
    width: 65%;
    margin: 0;
}

.perguntas .container .perguntas-bloco01 .email button{
        font-size: 2.0rem;
        font-weight: 100;
        padding: 15px 20px 15px 20px;
        border: none;
        vertical-align: middle;
        transition: color .25s;
        color: white;
        background-color: var(--vermelho);
        cursor: pointer;
        width: 30%;

}

/* Acordion */
.tab {
    position: relative;
    max-width: 53rem; 
  }
  
  .tab input { display: none; }
 
  .tab label {
    display: block;
    margin-top: 10px;
    padding: 30px;
    color: #fff;
    background: #36383b;
    cursor: pointer;
    font-size: 28px;
  }
  

  .tab .tab-content {
    background: #202225;
    overflow: hidden;
    transition: .5s ease all;
    max-height: 0;
  }
  .tab .tab-content p { 
    padding: 30px 20px 30px 20px;
    font-size: 25px;
    }
  
  .tab input:checked ~ .tab-content { max-height: 100vh; }
  
  .tab label::after {
    content: "\271A";
    position: absolute;
    right: 10px;
    top: 30px;
    display: block;
    transition: .5s ease all;
  }
  .tab input:checked ~ label::after { transform: rotate(90deg); }

